#highlights{
    background-image: radial-gradient(circle,#fff,#efefef);
    padding-top: 72px;
}

#h-cards{
  display: block;
  margin-top: 72px; 
}


.sec {
    font-family: 'Raleway', sans-serif;
    padding: 50px 0;
    background: none;
    text-align: center;
    word-wrap: break-word;
  }

  .sec>ul>li>img{
    width: 4.5rem;
    margin-bottom: 18px; 
  }
  .sec h2 {
    font-weight: 200;
    font-size: 30px;
    color: #000;
  }
  .sec ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  .sec ul li {
    padding: 40px 0;
    padding-left: 28px;
    padding-right: 28px;
    width: 300px;
    transition: box-shadow .3s;
  }
  .sec ul li:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  .sec ul li:hover span {
    color: #000;
  }
  .sec ul li:hover p {
    color: #555;
  }
  .sec ul li:hover h5 {
    color: #000;
  }
  .sec ul li:hover h5:after {
    width: 25px;
  }
  .sec ul li span {
    font-size: 2.6em;
    display: block;
    transition: color .3s;
    color: #A2A2A2;
  }
  .sec ul li span:before, #sec ul li span:after {
    position: static;
  }
  .sec ul li h5 {
    color: #6f6f6f;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    transition: color .3s;
  }
  .sec ul li h5:after {
    content: '';
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: block;
    width: 40px;
    height: 1px;
    background: #6f6f6f;
    transition: width .3s;
  }
  .sec ul li p {
      margin-top: 38px;
    color: #6f6f6f;
    text-align: center;
    font-size: 18px;
    line-height: 42px;
    transition: color .3s;
  }
  