#register{
    background-color: #1a1718;
    background-image: url('../../graphics/blackbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: rgba(216, 117, 117, 0.1)
}

.has-error .form-control{
    box-shadow: none;
}

.has-error .form-control:focus{
    box-shadow: none;
}

#reg-header{
    margin: 72px;
    text-align: center;
    color: #fff;
}

#register>h3{
    color: #fff;
}

.btn-default{
    color: #fff;
    font-weight: bold
}

#form{
    margin: 12px;
}

.form-group {
    margin-bottom: 48px;
}

.control-label{
    color: #fff;
}

.form-group input{
    box-shadow: none;
    border-radius: 0;
    border: none;
    background: none;
    border-bottom: 2px solid #fff; 
    color: #fff;
}

.form-group input::placeholder{
   color: rgba(255,255,255,0.5)
}

.form-group input:focus{
    box-shadow: none;
    border-bottom: 2px solid #fff; 

}

.checkbox{
    color: #fff;
}

#form-holder{
    padding: 48px;
}

@media (min-width: 992px) { 
    #form-holder{
        margin-left: 250px;
        margin-right: 250px;
    }
 }