.header{
    height: 100vh;
    position: relative;
    background-image: url('../../cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.overlay{
    height: 100vh;
    width: 100%;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #2196f3;
    background-image: radial-gradient(circle,rgba(255,255,255,0.36),#2196f3);

}

.content{
    text-align: left;
    color: white;
}

.row{
    justify-content: center;
    display: flex;
    align-items: center;
}

h1{
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
}

h5{
    font-weight: 700;
}

#sec-heading{
    margin: 0;
    font-weight: 800;
}


.graphics{
    width: 57rem;
    margin-bottom: -9rem;
    margin-left: -12rem;
}

.btn{
    background-color: #fff;
    padding:6px 20px;
}

.btn>a{
    color: #2196f3;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.btn>a:hover{
    color: #2196f3;
    text-decoration: none;
}
