#header{
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.overlay{
    height: 100vh;
    width: 100%;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #1a1718;
    background-image: url('../../graphics/blackbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.lol{
    justify-content: left;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
}

#date-holder{
    display: inline-block;
}
#cal-ico{
    width: 12px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

#loc-ico{
    width: 12px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

#itc_main{
    width: 300px;
}

.content{
    text-align: left;
    color: white;
}

.header-row{
    justify-content: center;
    display: flex;
    align-items: center;
}

.content>h1{
    font-size: 8vh;
    font-weight: 100;
    margin: 0;
}

.content>h5{
    font-weight: 700;
}

.content>h3{
    font-size: 3.4vh;
    margin-top: 8px;
}
#sec-heading{
    margin: 0;
    font-weight: 800;
}

#sec-heading>strong{
color: #ea1d78;
font-weight: 900;
}


#dates>h5{
    font-size: 2.4vh;
}

#dates{
    margin: 3vh 0;
}


.graphics{
    width: 500px;
}

.btn{
    background-color: #ea1d78;
    padding: 1.2vh 6vh;
    border: #ea1d78 solid;
    border-radius: 0;
    transition: 0.35s;
    margin: 24px 0;
}

.btn:hover{
    background-color: rgba(0,0,0,0);
    color: #fff;
}




