#about{
    padding-top: 72px;
    padding-bottom: 72px;
}

h4{
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 8px;
    display: inline;
    border-bottom: 2px solid #ea1d78; 
}

#r3{
    margin-top: 82px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#tl-img{
    width: 90%;
}

#congress-desc{
    text-align: right;
}

#hackiv-desc{
    text-align: left;
}

#congress-desc>p,#hackiv-desc>p{
    text-align: justify;
}

#congress-desc>p,#hackiv-desc>p{
    margin-top: 48px;
    font-size: 18px; 
    font-weight: 500;
}


#aboutc-img{
    width: 60vh;
    height: auto;
}

#r1{
    margin-bottom: 82px;
    display: flex;
    align-items: center;
    justify-content: center; 
}





