#abouti{
    background-color: #1a1718;
    background-image: radial-gradient(circle,rgba(255,255,255,0.36),#1a1718
    );
    padding: 48px;
}

#abouti>h2{
    color: #fff;
    font-weight: 800;
    border-bottom: 2px solid #ea1d78;
    padding-bottom: 8px;
    display: inline; 
}

#abouti-row>.col-md-6>h4{
    color: #fff;
    border: none;
}

#abouti-row>.col-md-6>p{
    color: #fff;
    font-size: 2vh;
    padding: 8vh;
    font-weight: 600;
    text-align: justify;
}


#abouti>.container{
    margin-top: 72px;
}

