body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height:100%;
}

html{
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (min-width: 768px) {
  /* Desktop */
  .container-fluid{
    margin-left: 8vh;
    margin-right: 8vh;
  }

}



@import url('https://fonts.googleapis.com/css?family=Montserrat');