.navbar-inverse {
    background-color: rgba(0, 0, 0,0);
    border: none;
    padding-top: 1em;
    padding-right: 1.3em;
    padding-left: 1.3em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}